@model EmployeeEditViewModel
@{
    /*@inject IEmployeeRepository _empRepository*/
}
@{
    string phpath = "~/images/" + (Model.ExistingPhotoPath ?? "noimage.jfif");
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" method="post" class="mt-3">
    <div class="form-group row">
        <input hidden asp-for="Id" />
        <input hidden asp-for="ExistingPhotoPath"/>
        <label asp-for="Name" >Name</label>
        <div class="col-sm-10">
            <input asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" >E-mail</label>
        <div class="col-sm-10">
            <input asp-for="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Department">Department</label>
        <div class="col-sm-10">
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
            <option value="">Please Select</option>
        </select>
        </div>
        <span asp-validation-for="Department"></span>
    </div>
    <div class="form-group row">
        <label asp-for="PhotoPath">Photo</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="PhotoPath" class="form-control custom-file-input"/>
            </div>
        </div>
    </div>
    <img class="imageThumbnail" src="@phpath" asp-append-version="true" />
    <div asp-validation-summary="All" class="text-danger">
    </div>
    
    <div>
        <button class="btn btn-primary" type="submit">Edit</button>
        <a asp-asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>
@section StyleSheet{
     <link href="~/css/index.css" rel="stylesheet" />
}


